.admin-login:before {
    content: "";
    position: absolute;
    width: 50%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background: url(../images/admin-login-pg.png);
    z-index: -1;
}
.merchant-detail ul li:first-child {
    width: 35%;
}
.add-merchant a {
    padding: 10px;
    background: #10239e;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
}
.filter-merchant ul li {
    list-style-type: none;
}

.filter-merchant {
    width: 40%;
    margin: 0px auto;
    position: absolute;
    left: 30%;
    top: 14px;
    z-index: 999;
}
.merchant-action
{
    background: transparent !important;
    border: none !important;
    color: #000 !important;
}
button.active-m {
    color: #00C48E;
    background: #EDF5ED;
    padding: 3px 10px;
    border: none;
    border-radius: 30px;
}
button.deactive-m {
    color: #DC3F0E;
    background: rgb(243 138 106 / 18%);
    padding: 3px 10px;
    border: none;
    border-radius: 30px;
}
.merchant-action:after
{
    display: none;
}

.switch-toggle .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-toggle .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-toggle .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-toggle input:checked + .slider {
  background-color: #2196F3;
}

.switch-toggle input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch-toggle input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switch-toggle .slider.round {
  border-radius: 34px;
}

.switch-toggle .slider.round:before {
  border-radius: 50%;
}
.blue-pg {
    margin: 20px 0px;
    padding: 20px;
    background: #19468F;
    color: #fff;
    border-radius: 10px;
}
.mer-profile-img h2 {
    font-size: 18px;
}
.mercent-profile-details h6 {
    font-size: 12px;
    color: #ccc;
}
.dm-cols {
    padding: 15px 0px;
}
.dm-cols {
    padding: 15px 0px;
}

.wallet-balance p {
    margin: 0px;
}

.wallet-balance {
    padding: 10px 40px;
    background: #fff;
    color: #19468F;
    border-radius: 20px;
}

.wallet-balance .lock-icon {
    text-align: right;
}
.blue-pg .view-more a {
    color: #407BFF;
}
button.active-m.pending {
    color: #F5B544;
    background: rgb(245 181 68 / 8%);
}
button.active-m.faild {
    color: #F04438;
    background: rgb(240 68 56 / 9%);
}
.mt-30 {
    margin-top: 40px;
}
.blue-pg .mer-profile-img {
    padding-right: 50px;
    border-right: 1px solid #fff;
}
.white-pg .mer-profile-img
{
 padding-right: 50px;
    border-right: 1px solid #B6B6B6;
}
.blue-pg.white-pg {
    background: #fff;
    color: #141518;
    box-shadow: 1px 1px 10px rgb(51 51 51 / 50%);
}
div#merchant-disable .modal-content {
    padding: 20px;
}
div#merchant-disable .modal-body {
    background: transparent;
    text-align: center;
}
.cirnfirm-btn button.secondary-button {
    padding: 8px 30px;
    border: none;
    border: 1px solid #10239e;
    color: #10239e;
    background: transparent;
}
div#merchant-disable button.primary-button {
    background: #C23D13 !important;
}
.disable-sucessful-notofication {
    padding: 10px;
    background: #0c0e3f;
    color: #fff;
    text-align: center;
    position: absolute;
    width: 80%;
    left: 10%;
    border-radius: 10px;
    /* top: 20px; */
    z-index: 9999;
    box-shadow: 0px 0px 5px rgba(51,51,51,0.4);
}

.disable-sucessful-notofication p {
    margin: 0px;
    color: #fff;
}
div#add-merchant-form .modal-dialog {
    top: 0px;
    margin: 0px;
    right: 0px;
    position: fixed;
    width: 50%;
}

div#add-merchant-form .modal-dialog .modal-content {
    height: 100vh;
    border-radius: 0px;
}


div#add-merchant-form button.close {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 100%;
    /* position: fixed; */
    left: -55px;
    z-index: 99;
    right: auto;
    position: absolute;
    opacity: 0.8;
    top: 5px;
}
div#add-merchant-form .modal-body h2 {
    font-size: 18px;
    color: #242424;
    font-weight: bold;
}