/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: 100%;
    }
    #sidebarCollapse span {
        display: none;
    }
}


@media (max-width: 767px){
    .sign-content h3{
        font-size: 40px;
    }
    .filter-merchant {
    width: 100%;
    position: static;
}
    .wizard .nav-tabs > li a i{
        display: none;
    }
    .signup-logo-header .navbar-toggle{
        margin: 0;
        margin-top: 8px;
    }
    .signup-logo-header .logo_area{
        margin-top: 0;
    }
    .signup-logo-header .header-flex{
        display: block;
    }
    .top-sec
    {
        height: auto;
    }
    .right-mnu ul li {
    margin: 10px 0px;
}
.top-sec
{
    position: static;
}
.create-new-payment {
    text-align: center !important;
}
div#example_wrapper {
    overflow-x: scroll;
}
.dashboard-content-bdy {
    overflow: hidden;
}
div#add-payment .modal-dialog .modal-content
{
    width: 96%;
    right: 0px !important;
    left: 2% !important;
    top: 1% !important;
    height: 98vh !important;
}
div#add-payment .modal-header button
{
    left: auto;
    right: 25px;
    top: 25px;
}
div#page-info .modal-dialog .modal-content
{
    width: 96%;
    right: 0px !important;
    left: 2% !important;
    top: 1% !important;
    height: 98vh !important;
}
div#page-info .modal-header button
{
    left: auto;
    right: 25px;
    top: 25px;
}
div#make-payment .modal-dialog {
    width: 98%;
    right: 1%;
    top: 1%;
    /* height: 98vh !important; */
}
.transaction-btn-detail .wizard .tab-pane .gray-pg
{
    width: 100%;
}
.transaction-btn-detail .wizard .nav-tabs > li b {
    font-size: 12px;
}
.transaction-btn-detail .wizard .nav-tabs > li a i
{
    display: block;
}
.sucessful-notification.text-center
{
    width: 100%;
}
.mCustomScrollBox
{
    background: #fff;
}
#sidebar.active:before {
    content: "";
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background: hsl(0deg 0% 4% / 68%);
    z-index: -9;
}
button#sidebarCollapse {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 99999;
    background: #fff !important;
    color: #0c0e3f !important;
}
#sidebar
{
    width: 260px;
}
}

@media only screen and (min-width: 767px)
{
    button#sidebarCollapse
    {
        display: none;
    }
}
@media only screen and (min-width: 568px) and (max-width: 767px)
{
    .right-mnu ul {
    justify-content: center !important;
}

.right-mnu ul li {
    margin: 0px 30px !important;
}
}
@media only screen and (max-width: 567px)
{
    .right-mnu ul {
    flex-flow: column;
}
}