


@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@400;600&display=swap');
body {
   font-family: 'Work Sans', sans-serif;
    background: #fff;
}

p {
   font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7em;
    color: #434343;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: #434343;
    transition: all 0.3s;
    border-right: 1px solid #ccc;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px 20px;
    background: #fff;
    text-align: center;
}
.sidebar-header.admin-logo img {
    height: 80px;
    margin: 0px auto;
}

#sidebar ul.components {
    padding: 5px 0;
    border-bottom: 1px solid #dddddd;
}
#sidebar ul li a {
    font-weight: 600;
}
#sidebar h4 {
    text-transform: uppercase;
    font-size: 14px;
    color: #ccc;
    padding: 0px 10px;
    margin-top: 20px;
}

#sidebar ul.components p {
    color: #434343;
    font-weight: 600;
    margin-bottom: 0px;
    padding: 0px 5px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 5px 10px;
    font-size: 15px;
    display: block;
    color: #434343;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
    color: #10239E;
    background: #fff;
    position: relative;
}

#sidebar ul li.active>a:before {
    content: "";
    position: absolute;
    height: 70%;
    width: 2px;
    background: #10239E;
    left: 2px;
    px: ;
    top: 15%;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 200px);
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_draggerRail, .mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail, .mCS-minimal.mCSB_scrollTools .mCSB_draggerRail {
    background-color: rgb(12 14 63 / 5%);
}

.right-mnu ul {
    margin: 0px;
    padding: 0px;
}

.right-mnu ul li {
    list-style-type: none;
    margin-left: 40px;
}
.user-name h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0px;
    margin-bottom: 5px;
}

.user-name p {
    font-size: 14px;
    margin: 0px;
    color: #3F3D56;
}
.page-title h1 {
    font-size: 25px;
    color: #000;
    margin: 0px;
    padding: 0px;
}
.top-sec {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    position: sticky;
    width: 100%;
    height: 65px;
    left: 0px;
    top: 0px;
    background: #ffffff;
    z-index: 99;
}
.profile-img {
    height: 30px;
    margin-right: 15px;
}
.toggle-btn span {
    cursor: pointer;
}
.profile-img {
    height: 30px;
    margin-right: 15px;
}

.select-drop button {
    background: transparent;
    border: none;
    color: #3f3d56;
}

.select-drop {
    margin-left: 10px;
}

.toggle-btn {
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.toggle-btn span {
    /* background: #f00; */
    padding: 10px;
    border-radius: 5px;
    color: #E40202;
}

.toggle-btn span.t-active {
    background: #E40202;
    color: #fff;
}
.select-drop .dropdown-menu.show {
    left: auto !important;
    right: 0px !important;
    transform: none !important;
    top: 30px !important;
}
.select-drop .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #3f3d56;
    background-color: transparent;
    border-color: transparent;
}
.select-drop .btn-primary:hover {
    color: #0c0e3f;
    background-color: transparent;
    border-color: transparent;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.dashboard-home-info-items {
    padding: 20px;
    border: 1px solid #c3c3c3;
    margin: 20px 0px;
    border-radius: 5px;
}

h3.tp-amt {
    font-weight: 600;
}

h3.tp-amt span {
    font-weight: 500;
    font-size: 14px;
    margin-left: 40px;
    color: #595959;
}
.upgade-btn button {
    padding: 8px 15px;
    background: #10239E;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
.revenue-chart-sec {
    padding: 20px 0px;
}
.payout-data {
    padding: 20px 0px;
}
table.table-bordered.dataTable th
{
    font-size: 14px;
    color: #242424;
    font-weight: normal;
    background: #F0F5FF;
}
table.table-bordered.dataTable tbody td
{
    font-size: 14px;
    background: #fff;
     color: #242424;
}
.no-payout-data {
    width: 70%;
    margin: 0px auto;
    padding: 30px 0px;

}
.no-payout-data h3 {
    font-weight: 600;
    font-size: 24px;
}
table.table-bordered.dataTable tfoot {
    display: none;
}

.create-new-payment button {
    background: #10239E;
    font-size: 14px;
}

.create-new-payment {
    margin-bottom: 15px;
}
div#add-payment {}

div#add-payment .modal-content {
    right: 0px !important;
}

div#add-payment .modal-dialog {max-width: 100%;margin: 0px;}

div#page-info .modal-dialog {max-width: 100%;margin: 0px;}

div#add-payment .modal-dialog .modal-content {
    width: 40%;
    right: 0px !important;
    left: auto !important;
    top: 0px !important;
    height: 100vh !important;
    justify-content: end;
    position: fixed;
    border-radius: 0px !important;
}
div#page-info .modal-dialog .modal-content {
    width: 40%;
    right: 0px !important;
    left: auto !important;
    top: 0px !important;
    height: 100vh !important;
    justify-content: end;
    position: fixed;
    border-radius: 0px !important;
}
div#add-payment .modal-header h4 {
    float: left;
}

div#add-payment .modal-header button {
    position: absolute;
    left: -44px;
    background: #fff;
    z-index: 9999;
    border-radius: 1;
    background: #fff;
    opacity: 1;
    border-radius: 10px 0px 0px 10px;
    /* top: 16px; */
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 0px;
}
div#page-info .modal-header button {
    position: absolute;
    left: -44px;
    background: #fff;
    z-index: 9999;
    border-radius: 1;
    background: #fff;
    opacity: 1;
    border-radius: 10px 0px 0px 10px;
    /* top: 16px; */
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 0px;
}
div#page-info button.cancel {
    width: 100%;
    padding: 10px;
    background: #fff;
    border: 1px solid #10239E;
    border-radius: 5px;
    color: #10239E;
}
div#page-info button.create {
    width: 100%;
    padding: 10px;
    background: #10239E;
    border: 1px solid #10239E;
    border-radius: 5px;
    color: #fff;
}
button.primary-button {
    background: #10239E !important;
    border: none !important;
    padding: 8px 40px !important;
    color: #fff;
    border-radius: 5px !important;
}

.lft-col p {
    margin: 0px;
}

.lft-col h3 {
    font-size: 25px;
    font-weight: 600;
    color: #030852;
}
.modal-body.vertical-align {
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: space-around;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
}

.created-payment h2 {
    color: Payment Page Created;
    font-size: 24px;
    color: #10239E;
    font-weight: bold;
    padding: 20px;
}

.created-payment {}

.copy-schema button {
    background: #fff;
    color: #10239e;
    border: 1px solid #10239e;
    padding: 5px 20px;
}

.copy-schema input {
    padding: 5px 20px;
    border: 1px solid #ccc;
    margin-right: 10px;
    text-align: center;
}

.goto-page {
    margin: 10px 0px;
}

.goto-page a {
    width: 100%;
    padding: 10px;
    background: #10239E;
    border: 1px solid #10239E;
    border-radius: 5px;
    color: #fff;
    margin: 10px 0px;
    display: inline-block;
}
.makepayment-form .logo img {
    height: 40px;
}
.makepayment-form .logo
{
    text-align: center;
    margin: 20px 0px;
    margin-top: 0px;
}
.form-sec-col label {
    width: 100%;
}
select.amt-type {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem 0px 0px 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-sec-col {
    padding: 10px;
    background: #FCFCFC;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    border-radius: 9px;
}

.makepayment-form {
    width: 400px;
}

.makepayment {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.form-group.sub-button button {
    width: 100%;
}

.form-group.sub-button {
    margin: 20px 0px;
    display: inline-block;
    width: 100%;
    clear: both;
    margin-bottom: 0px;
}

p.gmail {
    margin-bottom: 0px;
}

.card-sec p span {
    font-weight: bold;
    color: #4caf50;
}

/* The container */
.card-option {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.card-option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.card-option .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.card-option:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.card-option input:checked ~ .checkmark {
    background-color: #10239E;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.card-option .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.card-option input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.card-option .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.card-sec-tab ul.nav.nav-tabs li {
    width: 33%;
}

.card-sec-tab ul.nav.nav-tabs li a {
    padding: 10px;
    background: #F0F0F0;
    margin: 1px;
    color: #8C8C8C;
    display: inline-block;
    width: 99%;
}

.card-sec-tab ul.nav.nav-tabs li a.active {
    background: #fff;
    color: #10239e;
    font-weight: bold;
}
.card-sec .tab-content {
    margin-top: 20px;
}

.card-sec .tab-content h3 {
    color: #242424;
    font-size: 24px;
    font-weight: 600;
}

.card-sec .tab-content ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.card-sec .tab-content ul li {
    list-style-type: none;
}

.card-sec-tab ul.nav.nav-tabs {
    align-items: center;
    justify-content: center;
}
.add-card button {
    background: none;
    border: none;
}

.pay-amt-btn {
    width: 100%;
    margin: 20px 0px;
}

.pay-amt-btn button {
    width: 100%;
}

.cancel-btn button {
    background: transparent;
    border: none;
    font-weight: bold;
}

.add-card button {
    font-weight: 600;
}
button.primary-button:hover {
    background: #8C8C8C;
}
div#make-payment .modal-dialog {
    position: absolute;
    left: auto;
    right: 0px;
    top: 0px;
    margin: 0px;
    width: 50%;
}

div#make-payment .modal-dialog .modal-content {
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.modal-body
{
    width: 100%;
}
div#make-payment button.close {
    position: absolute;
    left: -40px;
    width: 30px;
    height: 30px;
    padding: 0px;
    background: #fff;
    border-radius: 100%;
    opacity: 1;
    top: 20px;
}
div#make-payment .modal-header {
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
i {
    margin-right: 10px;
}

/*------------------------*/
input:focus,
button:focus,
.form-control:focus{
    outline: none;
    box-shadow: none;
}
.form-control:disabled, .form-control[readonly]{
    background-color: #fff;
}
/*----------step-wizard------------*/
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}

/*---------signup-step-------------*/
.bg-color{
    background-color: #333;
}
/*.signup-step-container{
    padding: 150px 0px;
    padding-bottom: 60px;
}*/




    .wizard .nav-tabs {
        position: relative;
        margin-bottom: 0;
        border-bottom-color: transparent;
    }

  .wizard > div.wizard-inner {
    position: relative;
    margin-bottom: 0px;
    text-align: center;
    padding: 10px;
    background: #FCFCFC;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    border-radius: 9px;
}
.show-amt {
    margin: 10px 0px;
}
.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 75%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15px;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 16px;
    color: #0e214b;
    font-weight: 500;
    border: 1px solid #ddd;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
        background: #0db02b;
    color: #fff;
    border-color: #0db02b;
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}
/*.wizard .nav-tabs > li.active > a i{
    color: #0db02b;
}*/

/*.wizard .nav-tabs > li {
    width: 25%;
}*/

/*.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: red;
    transition: 0.1s ease-in-out;
}*/



/*.wizard .nav-tabs > li a {
    width: 30px;
    height: 30px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 0;
}*/
/*.wizard .nav-tabs > li a i{
    position: absolute;
    top: -15px;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 700;
    color: #000;
}*/

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top:0px;
}


.wizard h3 {
    margin-top: 0;
}
.wizard .tab-pane h3 {
    font-size: 20px !important;
    margin-bottom: 20px;
}
.prev-step,
.next-step{
    font-size: 13px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    margin-top: 0px;
}
.next-step{
    background-color:transparent;
}
.show-amt button {
    width: 100%;
}
.skip-btn{
    background-color: #cec12d;
}
.step-head{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}
.term-check{
    font-size: 14px;
    font-weight: 400;
}
.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-bottom: 0;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 40px;
    margin: 0;
    opacity: 0;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 40px;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 2;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 38px;
    padding: .375rem .75rem;
    line-height: 2;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}
.footer-link{
    margin-top: 30px;
}
.all-info-container{

}
.list-content{
    margin-bottom: 10px;
}
.list-content a{
    padding: 10px 15px;
    width: 100%;
    display: inline-block;
    background-color: #f5f5f5;
    position: relative;
    color: #565656;
    font-weight: 400;
    border-radius: 4px;
}
.list-content a[aria-expanded="true"] i{
    transform: rotate(180deg);
}
.list-content a i{
    text-align: right;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: 0.5s;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fdfdfd;
}
.list-box{
    padding: 10px;
}
.signup-logo-header .logo_area{
    width: 200px;
}
.signup-logo-header .nav > li{
    padding: 0;
}
.signup-logo-header .header-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-inline li{
    display: inline-block;
}
.pull-right{
    float: right;
}
/*-----------custom-checkbox-----------*/
/*----------Custom-Checkbox---------*/
input[type="checkbox"]{
    position: relative;
    display: inline-block;
    margin-right: 5px;
}
input[type="checkbox"]::before,
input[type="checkbox"]::after {
    position: absolute;
    content: "";
    display: inline-block;   
}
input[type="checkbox"]::before{
    height: 16px;
    width: 16px;
    border: 1px solid #999;
    left: 0px;
    top: 0px;
    background-color: #fff;
    border-radius: 2px;
}
input[type="checkbox"]::after{
    height: 5px;
    width: 9px;
    left: 4px;
    top: 4px;
}
input[type="checkbox"]:checked::after{
    content: "";
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
}
input[type="checkbox"]:checked::before{
    background-color: #18ba60;
    border-color: #18ba60;
}

.bnk-info-frm
{
    display: none;
    text-align: left;
}
.bf-icon {
    text-align: center;
}
.bnk-info-frm.active {
    display: block;
}
.choose-your-bankpayment .form-group {
    position: relative;
}
.choose-your-bankpayment .form-group span {
    background: #dfdfdf;
    position: absolute;
    top: 7px;
    right: 8px;
}
.cancel button {
    background: transparent;
    border: none;
    font-size: 17px;
    padding: 0px !important;
}

.cancel.prev-step {
    padding: 0px;
}
.last-form button {
    width: 100%;
}
.last-form {
    text-align: center;
}
.no-payout-data a {
    background: #10239E;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.mt-20
{
    margin-top: 20px;
}
.mb-20
{
    margin-bottom: 20px;
}
.form-verify button {
    margin: 8px 0px;
    width: 100%;
}
.payrole-form h4 {
    color: #030852;
    font-size: 16px;
    font-weight: 600;
}

.payrole-dashboard {
    width: 80%;
    margin: 0px auto;
   
    
    margin-top: 40px;
}
.payrole-dashboard h3 {
    font-size: 24px;
    font-weight: bold;
    color: #242424;
}   
.payrole-form
{
    border: 1px solid #ccc;
     padding: 30px 30px;
     margin-top: 30px;
}
.payrole-form .cols h3 {
    font-size: 16px !important;
    color: #10239E !important;
}
.continues {
    text-align: center;
    margin: 30px 0px;
}
.continues button {
    padding: 8px 40px;
    background: #10239E;
    border: none;
    color: #fff;
    border-radius: 5px;
}
.select-drop .dropdown-toggle::after
{
    display: none;
}
.totla-employee p {
    margin-bottom: 0px;
}
.emp-profile-img img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.emp-profile-img {
    width: 100px;
    height: 100px;
    margin: 0px auto;
    border-radius: 100%;
    margin-top: 40px;
}
.emp-info {
    margin-top: 20px;
}

.emp-info ul {
    padding: 0px;
    margin: 0px;
}

.emp-info ul li {
    display: inline-block;
    width: 48%;
    text-align: left;
    margin-bottom: 20px;
}

.emp-info ul li p {
    font-size: 14px;
    margin-bottom: 0px;
    color: #8C8C8C;
}

.emp-info ul li h4 {
    color: #242424;
    font-size: 18px;
}
.manage-payment button {
    padding: 7px 30px;
    background: #10239E;
    border: none;
    color: #fff;
    border-radius: 5px;
}
a.create-page-link {
    padding: 7px 30px;
    background: #10239E;
    border: none;
    color: #fff;
    border-radius: 5px;
}
.emp-view-details h2 {
    color: #242424;
    font-size: 24px;
    text-align: left;
}
.emp-view-details h2 {
    color: #242424;
    font-size: 24px;
    text-align: left;
}

div#emp-view-details {}

div#emp-view-details .modal-dialog {
    position: fixed;
    top: 0px;
    left: auto;
    right: 0px;
    margin: 0px;
    height: 100vh;
}
div#emp-view-details button.close {
    position: absolute;
    left: -50px;
    padding: 0px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 100%;
    opacity: 1;
    top: 20px;
}
div#emp-view-details .modal-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.makepayment-form .form-group
{
    display: inline-block;
    width: 100%;
}

/* The container */
.radio-default-style {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-default-style input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-default-style .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-default-style:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-default-style input:checked ~ .checkmark {
    background-color: #10239e;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-default-style .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-default-style input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-default-style .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.form-sec-col hr {
    margin: 0px;
    margin-bottom: 10px;
}

.makepayment-form1.show-form {
    display: block;
}

.makepayment-form1 {
    display: none;
}
.sucessfull.created p {
    font-size: 13px;
    /* position: absolute; */
    background: #088d05;
    padding: 10px;
    border-radius: 20px;
    margin: 50px 0px;
    color: #fff;
}
.dashboard-transaction {
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.dashboard-transaction p a {
    padding: 10px 15px;
    background: #10239e;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}
.transaction-img {
    margin: 30px 0px;
}
.dashboard-transection-page {
    padding-top: 100px;
}
.dashboard-img {
    margin: 30px 0px;
}

.transaction-btn a {
    padding: 10px 30px;
    background: #10239e;
    color: #fff;
    border-radius: 5px;
}

.transaction-btn-detail .wizard .nav-tabs {
        position: relative;
        margin-bottom: 0;
        border-bottom-color: transparent;
    }

.transaction-btn-detail .wizard > div.wizard-inner {
    position: relative;
    margin-bottom: 50px;
    text-align: center;
    box-shadow: none;
    background: #fff;
}

.transaction-btn-detail .connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 75%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40px;
    z-index: 1;
    background: no-repeat;
    border: 1px dashed #e0e0e0;
}
.transaction-btn-detail {
    padding-top: 35px;
}

.transaction-btn-detail .wizard .nav-tabs > li.active > a, .transaction-btn-detail .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

.transaction-btn-detail span.round-tab {
    width: 60px;
    height: 60px;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    background: #B6B6B6;
    z-index: 2;
    position: relative;
    left: 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    border: 1px solid #ddd;
    padding: 14px;
    margin: 0px auto;
}
.transaction-btn-detail .wizard .nav-tabs > li b {
    position: static;
    top: 0;
    display: block;
    width: 100;
    margin-top: 10px;
}
.transaction-btn-detail span.round-tab i{
    color:#555555;
}
.transaction-btn-detail .wizard li.active span.round-tab {
    background: #4CAF50;
    color: #fff;
    border-color: #4CAF50;
}
.transaction-btn-detail .wizard li.active span.round-tab i{
    color: #5bc0de;
}
.transaction-btn-detail .wizard .nav-tabs > li.active > a span i{
    color: #fff;
}
.transaction-btn-detail .wizard .nav-tabs > li.active > a i{
    color: #0db02b;
}

.transaction-btn-detail .wizard .nav-tabs > li {
    width: 25%;
}

.transaction-btn-detail .wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: red;
    transition: 0.1s ease-in-out;
}


.transaction-btn-detail .wizard .nav-tabs > li a {
    width: 30px;
    height: 30px;
    margin: 0px auto;
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 0;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.transaction-btn-detail .wizard .nav-tabs > li a i{
    position: absolute;
    top: -15px;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}

    .transaction-btn-detail .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.transaction-btn-detail .wizard .tab-pane {
    position: relative;
    padding-top: 20px;
}


.transaction-btn-detail .wizard h3 {
    margin-top: 0;
}
.transaction-btn-detail .prev-step,
.transaction-btn-detail .next-step{
    font-size: 13px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
}
.transaction-btn-detail .next-step{
    background-color: #0db02b;
}
.transaction-btn-detail .skip-btn{
    background-color: #cec12d;
}
.transaction-btn-detail .step-head{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}
.transaction-btn-detail .term-check{
    font-size: 14px;
    font-weight: 400;
}
.transaction-btn-detail .custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-bottom: 0;
}
.transaction-btn-detail .custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 40px;
    margin: 0;
    opacity: 0;
}
.transaction-btn-detail .custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 40px;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 2;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.transaction-btn-detail .custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 38px;
    padding: .375rem .75rem;
    line-height: 2;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}
.transaction-btn-detail .footer-link{
    margin-top: 30px;
}
.transaction-btn-detail .all-info-container{

}
.transaction-btn-detail .list-content{
    margin-bottom: 10px;
}
.transaction-btn-detail .list-content a{
    padding: 10px 15px;
    width: 100%;
    display: inline-block;
    background-color: #f5f5f5;
    position: relative;
    color: #565656;
    font-weight: 400;
    border-radius: 4px;
}
.transaction-btn-detail .list-content a[aria-expanded="true"] i{
    transform: rotate(180deg);
}
.transaction-btn-detail .list-content a i{
    text-align: right;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: 0.5s;
}
.transaction-btn-detail .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fdfdfd;
}
.transaction-btn-detail .list-box{
    padding: 10px;
}
.transaction-btn-detail .signup-logo-header .logo_area{
    width: 200px;
}
.transaction-btn-detail .signup-logo-header .nav > li{
    padding: 0;
}
.transaction-btn-detail .signup-logo-header .header-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.transaction-btn-detail .list-inline li{
    display: inline-block;
}
.transaction-btn-detail span.round-tab i {
    position: relative !important;
    top: 15px !important;
    font-size: 25px !important;
}
.transaction-btn-detail .wizard .nav-tabs > li.active > a i {
    color: #ffffff;
}
.transaction-btn-detail .wizard .tab-pane .gray-pg {
    position: relative;
    padding-top: 20px;
    width: 70%;
    margin: 0px auto;
    padding:30px 50px;
    background: #fff;
    border: 1px solid #ccc;
}

ul.cmpny-detail-list {
    padding: 0px;
    margin: 0px;
}

ul.cmpny-detail-list li {
    width: 50%;
    list-style-type: none;
}


ul.cmpny-detail-list {
    padding: 0px;
    margin: 0px;
}

ul.cmpny-detail-list li {
    width: 50%;
    list-style-type: none;
    margin-bottom: 30px;
}

ul.cmpny-detail-list li p {
    margin-bottom: 0px;
    color: #667085;
    font-size: 14px;
}

ul.cmpny-detail-list li h4 {
    color: #094063;
    font-size: 16px;
    margin-bottom: 0px;
}
ul.list-inline.transection-step button.default-btn.next-step {
    background: #10239E;
    color: #fff;
    /* margin-top: 0px; */
}
.transection-step li a {
    font-size: 20px;
    font-weight: bold;
}


.intl-tel-input {
  position: relative;
  display: inline-block;
  width: 100%;
}

.intl-tel-input * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.intl-tel-input .hide {
  display: none;
}

.intl-tel-input .v-hide {
  visibility: hidden;
}

.intl-tel-input input,
.intl-tel-input input[type=text],
.intl-tel-input input[type=tel] {
  position: relative;
  z-index: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-right: 36px;
  margin-right: 0;
}

.intl-tel-input .flag-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 1px;
}

.intl-tel-input .selected-flag {
  z-index: 1;
  position: relative;
  width: 36px;
  height: 100%;
  padding: 0 0 0 8px;
}

.intl-tel-input .selected-flag .iti-flag {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.intl-tel-input .selected-flag .iti-arrow {
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 6px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #555;
}

.intl-tel-input .selected-flag .iti-arrow.up {
  border-top: none;
  border-bottom: 4px solid #555;
}

.intl-tel-input .country-list {
  position: absolute;
  z-index: 2;
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0 0 0 -1px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 1px solid #CCC;
  white-space: nowrap;
  max-height: 200px;
  overflow-y: scroll;
}

.intl-tel-input .country-list.dropup {
  bottom: 100%;
  margin-bottom: -1px;
}

.intl-tel-input .country-list .flag-box {
  display: inline-block;
  width: 20px;
}

@media (max-width: 500px) {
  .intl-tel-input .country-list {
    white-space: normal;
  }
}

.intl-tel-input .country-list .divider {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #CCC;
}

.intl-tel-input .country-list .country {
  padding: 5px 10px;
}

.intl-tel-input .country-list .country .dial-code {
  color: #999;
}

.intl-tel-input .country-list .country.highlight {
  background-color: rgba(0, 0, 0, 0.05);
}

.intl-tel-input .country-list .flag-box,
.intl-tel-input .country-list .country-name,
.intl-tel-input .country-list .dial-code {
  vertical-align: middle;
}

.intl-tel-input .country-list .flag-box,
.intl-tel-input .country-list .country-name {
  margin-right: 6px;
}

.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type=text],
.intl-tel-input.allow-dropdown input[type=tel],
.intl-tel-input.separate-dial-code input,
.intl-tel-input.separate-dial-code input[type=text],
.intl-tel-input.separate-dial-code input[type=tel] {
  padding-right: 6px;
  padding-left: 52px;
  margin-left: 0;
}

.intl-tel-input.allow-dropdown .flag-container,
.intl-tel-input.separate-dial-code .flag-container {
  right: auto;
  left: 0;
}

.intl-tel-input.allow-dropdown .selected-flag,
.intl-tel-input.separate-dial-code .selected-flag {
  width: 46px;
}

.intl-tel-input.allow-dropdown .flag-container:hover {
  cursor: pointer;
}

.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
  background-color: rgba(0, 0, 0, 0.05);
}

.intl-tel-input.allow-dropdown input[disabled] + .flag-container:hover,
.intl-tel-input.allow-dropdown input[readonly] + .flag-container:hover {
  cursor: default;
}

.intl-tel-input.allow-dropdown input[disabled] + .flag-container:hover .selected-flag,
.intl-tel-input.allow-dropdown input[readonly] + .flag-container:hover .selected-flag {
  background-color: transparent;
}

.intl-tel-input.separate-dial-code .selected-flag {
  background-color: rgba(0, 0, 0, 0.05);
  display: table;
}

.intl-tel-input.separate-dial-code .selected-dial-code {
  display: table-cell;
  vertical-align: middle;
  padding-left: 28px;
}

.intl-tel-input.separate-dial-code.iti-sdc-2 input,
.intl-tel-input.separate-dial-code.iti-sdc-2 input[type=text],
.intl-tel-input.separate-dial-code.iti-sdc-2 input[type=tel] {
  padding-left: 66px;
}

.intl-tel-input.separate-dial-code.iti-sdc-2 .selected-flag {
  width: 60px;
}

.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 input,
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 input[type=text],
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 input[type=tel] {
  padding-left: 76px;
}

.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 .selected-flag {
  width: 70px;
}

.intl-tel-input.separate-dial-code.iti-sdc-3 input,
.intl-tel-input.separate-dial-code.iti-sdc-3 input[type=text],
.intl-tel-input.separate-dial-code.iti-sdc-3 input[type=tel] {
  padding-left: 74px;
}

.intl-tel-input.separate-dial-code.iti-sdc-3 .selected-flag {
  width: 68px;
}

.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input,
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input[type=text],
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input[type=tel] {
  padding-left: 84px;
}

.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 .selected-flag {
  width: 78px;
}

.intl-tel-input.separate-dial-code.iti-sdc-4 input,
.intl-tel-input.separate-dial-code.iti-sdc-4 input[type=text],
.intl-tel-input.separate-dial-code.iti-sdc-4 input[type=tel] {
  padding-left: 82px;
}

.intl-tel-input.separate-dial-code.iti-sdc-4 .selected-flag {
  width: 76px;
}

.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input,
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input[type=text],
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input[type=tel] {
  padding-left: 92px;
}

.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 .selected-flag {
  width: 86px;
}

.intl-tel-input.separate-dial-code.iti-sdc-5 input,
.intl-tel-input.separate-dial-code.iti-sdc-5 input[type=text],
.intl-tel-input.separate-dial-code.iti-sdc-5 input[type=tel] {
  padding-left: 90px;
}

.intl-tel-input.separate-dial-code.iti-sdc-5 .selected-flag {
  width: 84px;
}

.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 input,
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 input[type=text],
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 input[type=tel] {
  padding-left: 100px;
}

.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 .selected-flag {
  width: 94px;
}

.intl-tel-input.iti-container {
  position: absolute;
  top: -1000px;
  left: -1000px;
  z-index: 1060;
  padding: 1px;
}

.intl-tel-input.iti-container:hover {
  cursor: pointer;
}

.iti-mobile .intl-tel-input.iti-container {
  top: 30px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  position: fixed;
}

.iti-mobile .intl-tel-input .country-list {
  max-height: 100%;
  width: 100%;
}

.iti-mobile .intl-tel-input .country-list .country {
  padding: 10px 10px;
  line-height: 1.5em;
}

.iti-flag {
  width: 20px;
}

.iti-flag.be {
  width: 18px;
}

.iti-flag.ch {
  width: 15px;
}

.iti-flag.mc {
  width: 19px;
}

.iti-flag.ne {
  width: 18px;
}

.iti-flag.np {
  width: 13px;
}

.iti-flag.va {
  width: 15px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2 / 1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .iti-flag {
    background-size: 5630px 15px;
  }
}

.iti-flag.ac {
  height: 10px;
  background-position: 0px 0px;
}

.iti-flag.ad {
  height: 14px;
  background-position: -22px 0px;
}

.iti-flag.ae {
  height: 10px;
  background-position: -44px 0px;
}

.iti-flag.af {
  height: 14px;
  background-position: -66px 0px;
}

.iti-flag.ag {
  height: 14px;
  background-position: -88px 0px;
}

.iti-flag.ai {
  height: 10px;
  background-position: -110px 0px;
}

.iti-flag.al {
  height: 15px;
  background-position: -132px 0px;
}

.iti-flag.am {
  height: 10px;
  background-position: -154px 0px;
}

.iti-flag.ao {
  height: 14px;
  background-position: -176px 0px;
}

.iti-flag.aq {
  height: 14px;
  background-position: -198px 0px;
}

.iti-flag.ar {
  height: 13px;
  background-position: -220px 0px;
}

.iti-flag.as {
  height: 10px;
  background-position: -242px 0px;
}

.iti-flag.at {
  height: 14px;
  background-position: -264px 0px;
}

.iti-flag.au {
  height: 10px;
  background-position: -286px 0px;
}

.iti-flag.aw {
  height: 14px;
  background-position: -308px 0px;
}

.iti-flag.ax {
  height: 13px;
  background-position: -330px 0px;
}

.iti-flag.az {
  height: 10px;
  background-position: -352px 0px;
}

.iti-flag.ba {
  height: 10px;
  background-position: -374px 0px;
}

.iti-flag.bb {
  height: 14px;
  background-position: -396px 0px;
}

.iti-flag.bd {
  height: 12px;
  background-position: -418px 0px;
}

.iti-flag.be {
  height: 15px;
  background-position: -440px 0px;
}

.iti-flag.bf {
  height: 14px;
  background-position: -460px 0px;
}

.iti-flag.bg {
  height: 12px;
  background-position: -482px 0px;
}

.iti-flag.bh {
  height: 12px;
  background-position: -504px 0px;
}

.iti-flag.bi {
  height: 12px;
  background-position: -526px 0px;
}

.iti-flag.bj {
  height: 14px;
  background-position: -548px 0px;
}

.iti-flag.bl {
  height: 14px;
  background-position: -570px 0px;
}

.iti-flag.bm {
  height: 10px;
  background-position: -592px 0px;
}

.iti-flag.bn {
  height: 10px;
  background-position: -614px 0px;
}

.iti-flag.bo {
  height: 14px;
  background-position: -636px 0px;
}

.iti-flag.bq {
  height: 14px;
  background-position: -658px 0px;
}

.iti-flag.br {
  height: 14px;
  background-position: -680px 0px;
}

.iti-flag.bs {
  height: 10px;
  background-position: -702px 0px;
}

.iti-flag.bt {
  height: 14px;
  background-position: -724px 0px;
}

.iti-flag.bv {
  height: 15px;
  background-position: -746px 0px;
}

.iti-flag.bw {
  height: 14px;
  background-position: -768px 0px;
}

.iti-flag.by {
  height: 10px;
  background-position: -790px 0px;
}

.iti-flag.bz {
  height: 14px;
  background-position: -812px 0px;
}

.iti-flag.ca {
  height: 10px;
  background-position: -834px 0px;
}

.iti-flag.cc {
  height: 10px;
  background-position: -856px 0px;
}

.iti-flag.cd {
  height: 15px;
  background-position: -878px 0px;
}

.iti-flag.cf {
  height: 14px;
  background-position: -900px 0px;
}

.iti-flag.cg {
  height: 14px;
  background-position: -922px 0px;
}

.iti-flag.ch {
  height: 15px;
  background-position: -944px 0px;
}

.iti-flag.ci {
  height: 14px;
  background-position: -961px 0px;
}

.iti-flag.ck {
  height: 10px;
  background-position: -983px 0px;
}

.iti-flag.cl {
  height: 14px;
  background-position: -1005px 0px;
}

.iti-flag.cm {
  height: 14px;
  background-position: -1027px 0px;
}

.iti-flag.cn {
  height: 14px;
  background-position: -1049px 0px;
}

.iti-flag.co {
  height: 14px;
  background-position: -1071px 0px;
}

.iti-flag.cp {
  height: 14px;
  background-position: -1093px 0px;
}

.iti-flag.cr {
  height: 12px;
  background-position: -1115px 0px;
}

.iti-flag.cu {
  height: 10px;
  background-position: -1137px 0px;
}

.iti-flag.cv {
  height: 12px;
  background-position: -1159px 0px;
}

.iti-flag.cw {
  height: 14px;
  background-position: -1181px 0px;
}

.iti-flag.cx {
  height: 10px;
  background-position: -1203px 0px;
}

.iti-flag.cy {
  height: 13px;
  background-position: -1225px 0px;
}

.iti-flag.cz {
  height: 14px;
  background-position: -1247px 0px;
}

.iti-flag.de {
  height: 12px;
  background-position: -1269px 0px;
}

.iti-flag.dg {
  height: 10px;
  background-position: -1291px 0px;
}

.iti-flag.dj {
  height: 14px;
  background-position: -1313px 0px;
}

.iti-flag.dk {
  height: 15px;
  background-position: -1335px 0px;
}

.iti-flag.dm {
  height: 10px;
  background-position: -1357px 0px;
}

.iti-flag.do {
  height: 13px;
  background-position: -1379px 0px;
}

.iti-flag.dz {
  height: 14px;
  background-position: -1401px 0px;
}

.iti-flag.ea {
  height: 14px;
  background-position: -1423px 0px;
}

.iti-flag.ec {
  height: 14px;
  background-position: -1445px 0px;
}

.iti-flag.ee {
  height: 13px;
  background-position: -1467px 0px;
}

.iti-flag.eg {
  height: 14px;
  background-position: -1489px 0px;
}

.iti-flag.eh {
  height: 10px;
  background-position: -1511px 0px;
}

.iti-flag.er {
  height: 10px;
  background-position: -1533px 0px;
}

.iti-flag.es {
  height: 14px;
  background-position: -1555px 0px;
}

.iti-flag.et {
  height: 10px;
  background-position: -1577px 0px;
}

.iti-flag.eu {
  height: 14px;
  background-position: -1599px 0px;
}

.iti-flag.fi {
  height: 12px;
  background-position: -1621px 0px;
}

.iti-flag.fj {
  height: 10px;
  background-position: -1643px 0px;
}

.iti-flag.fk {
  height: 10px;
  background-position: -1665px 0px;
}

.iti-flag.fm {
  height: 11px;
  background-position: -1687px 0px;
}

.iti-flag.fo {
  height: 15px;
  background-position: -1709px 0px;
}

.iti-flag.fr {
  height: 14px;
  background-position: -1731px 0px;
}

.iti-flag.ga {
  height: 15px;
  background-position: -1753px 0px;
}

.iti-flag.gb {
  height: 10px;
  background-position: -1775px 0px;
}

.iti-flag.gd {
  height: 12px;
  background-position: -1797px 0px;
}

.iti-flag.ge {
  height: 14px;
  background-position: -1819px 0px;
}

.iti-flag.gf {
  height: 14px;
  background-position: -1841px 0px;
}

.iti-flag.gg {
  height: 14px;
  background-position: -1863px 0px;
}

.iti-flag.gh {
  height: 14px;
  background-position: -1885px 0px;
}

.iti-flag.gi {
  height: 10px;
  background-position: -1907px 0px;
}

.iti-flag.gl {
  height: 14px;
  background-position: -1929px 0px;
}

.iti-flag.gm {
  height: 14px;
  background-position: -1951px 0px;
}

.iti-flag.gn {
  height: 14px;
  background-position: -1973px 0px;
}

.iti-flag.gp {
  height: 14px;
  background-position: -1995px 0px;
}

.iti-flag.gq {
  height: 14px;
  background-position: -2017px 0px;
}

.iti-flag.gr {
  height: 14px;
  background-position: -2039px 0px;
}

.iti-flag.gs {
  height: 10px;
  background-position: -2061px 0px;
}

.iti-flag.gt {
  height: 13px;
  background-position: -2083px 0px;
}

.iti-flag.gu {
  height: 11px;
  background-position: -2105px 0px;
}

.iti-flag.gw {
  height: 10px;
  background-position: -2127px 0px;
}

.iti-flag.gy {
  height: 12px;
  background-position: -2149px 0px;
}

.iti-flag.hk {
  height: 14px;
  background-position: -2171px 0px;
}

.iti-flag.hm {
  height: 10px;
  background-position: -2193px 0px;
}

.iti-flag.hn {
  height: 10px;
  background-position: -2215px 0px;
}

.iti-flag.hr {
  height: 10px;
  background-position: -2237px 0px;
}

.iti-flag.ht {
  height: 12px;
  background-position: -2259px 0px;
}

.iti-flag.hu {
  height: 10px;
  background-position: -2281px 0px;
}

.iti-flag.ic {
  height: 14px;
  background-position: -2303px 0px;
}

.iti-flag.id {
  height: 14px;
  background-position: -2325px 0px;
}

.iti-flag.ie {
  height: 10px;
  background-position: -2347px 0px;
}

.iti-flag.il {
  height: 15px;
  background-position: -2369px 0px;
}

.iti-flag.im {
  height: 10px;
  background-position: -2391px 0px;
}

.iti-flag.in {
  height: 14px;
  background-position: -2413px 0px;
}

.iti-flag.io {
  height: 10px;
  background-position: -2435px 0px;
}

.iti-flag.iq {
  height: 14px;
  background-position: -2457px 0px;
}

.iti-flag.ir {
  height: 12px;
  background-position: -2479px 0px;
}

.iti-flag.is {
  height: 15px;
  background-position: -2501px 0px;
}

.iti-flag.it {
  height: 14px;
  background-position: -2523px 0px;
}

.iti-flag.je {
  height: 12px;
  background-position: -2545px 0px;
}

.iti-flag.jm {
  height: 10px;
  background-position: -2567px 0px;
}

.iti-flag.jo {
  height: 10px;
  background-position: -2589px 0px;
}

.iti-flag.jp {
  height: 14px;
  background-position: -2611px 0px;
}

.iti-flag.ke {
  height: 14px;
  background-position: -2633px 0px;
}

.iti-flag.kg {
  height: 12px;
  background-position: -2655px 0px;
}

.iti-flag.kh {
  height: 13px;
  background-position: -2677px 0px;
}

.iti-flag.ki {
  height: 10px;
  background-position: -2699px 0px;
}

.iti-flag.km {
  height: 12px;
  background-position: -2721px 0px;
}

.iti-flag.kn {
  height: 14px;
  background-position: -2743px 0px;
}

.iti-flag.kp {
  height: 10px;
  background-position: -2765px 0px;
}

.iti-flag.kr {
  height: 14px;
  background-position: -2787px 0px;
}

.iti-flag.kw {
  height: 10px;
  background-position: -2809px 0px;
}

.iti-flag.ky {
  height: 10px;
  background-position: -2831px 0px;
}

.iti-flag.kz {
  height: 10px;
  background-position: -2853px 0px;
}

.iti-flag.la {
  height: 14px;
  background-position: -2875px 0px;
}

.iti-flag.lb {
  height: 14px;
  background-position: -2897px 0px;
}

.iti-flag.lc {
  height: 10px;
  background-position: -2919px 0px;
}

.iti-flag.li {
  height: 12px;
  background-position: -2941px 0px;
}

.iti-flag.lk {
  height: 10px;
  background-position: -2963px 0px;
}

.iti-flag.lr {
  height: 11px;
  background-position: -2985px 0px;
}

.iti-flag.ls {
  height: 14px;
  background-position: -3007px 0px;
}

.iti-flag.lt {
  height: 12px;
  background-position: -3029px 0px;
}

.iti-flag.lu {
  height: 12px;
  background-position: -3051px 0px;
}

.iti-flag.lv {
  height: 10px;
  background-position: -3073px 0px;
}

.iti-flag.ly {
  height: 10px;
  background-position: -3095px 0px;
}

.iti-flag.ma {
  height: 14px;
  background-position: -3117px 0px;
}

.iti-flag.mc {
  height: 15px;
  background-position: -3139px 0px;
}

.iti-flag.md {
  height: 10px;
  background-position: -3160px 0px;
}

.iti-flag.me {
  height: 10px;
  background-position: -3182px 0px;
}

.iti-flag.mf {
  height: 14px;
  background-position: -3204px 0px;
}

.iti-flag.mg {
  height: 14px;
  background-position: -3226px 0px;
}

.iti-flag.mh {
  height: 11px;
  background-position: -3248px 0px;
}

.iti-flag.mk {
  height: 10px;
  background-position: -3270px 0px;
}

.iti-flag.ml {
  height: 14px;
  background-position: -3292px 0px;
}

.iti-flag.mm {
  height: 14px;
  background-position: -3314px 0px;
}

.iti-flag.mn {
  height: 10px;
  background-position: -3336px 0px;
}

.iti-flag.mo {
  height: 14px;
  background-position: -3358px 0px;
}

.iti-flag.mp {
  height: 10px;
  background-position: -3380px 0px;
}

.iti-flag.mq {
  height: 14px;
  background-position: -3402px 0px;
}

.iti-flag.mr {
  height: 14px;
  background-position: -3424px 0px;
}

.iti-flag.ms {
  height: 10px;
  background-position: -3446px 0px;
}

.iti-flag.mt {
  height: 14px;
  background-position: -3468px 0px;
}

.iti-flag.mu {
  height: 14px;
  background-position: -3490px 0px;
}

.iti-flag.mv {
  height: 14px;
  background-position: -3512px 0px;
}

.iti-flag.mw {
  height: 14px;
  background-position: -3534px 0px;
}

.iti-flag.mx {
  height: 12px;
  background-position: -3556px 0px;
}

.iti-flag.my {
  height: 10px;
  background-position: -3578px 0px;
}

.iti-flag.mz {
  height: 14px;
  background-position: -3600px 0px;
}

.iti-flag.na {
  height: 14px;
  background-position: -3622px 0px;
}

.iti-flag.nc {
  height: 10px;
  background-position: -3644px 0px;
}

.iti-flag.ne {
  height: 15px;
  background-position: -3666px 0px;
}

.iti-flag.nf {
  height: 10px;
  background-position: -3686px 0px;
}

.iti-flag.ng {
  height: 10px;
  background-position: -3708px 0px;
}

.iti-flag.ni {
  height: 12px;
  background-position: -3730px 0px;
}

.iti-flag.nl {
  height: 14px;
  background-position: -3752px 0px;
}

.iti-flag.no {
  height: 15px;
  background-position: -3774px 0px;
}

.iti-flag.np {
  height: 15px;
  background-position: -3796px 0px;
}

.iti-flag.nr {
  height: 10px;
  background-position: -3811px 0px;
}

.iti-flag.nu {
  height: 10px;
  background-position: -3833px 0px;
}

.iti-flag.nz {
  height: 10px;
  background-position: -3855px 0px;
}

.iti-flag.om {
  height: 10px;
  background-position: -3877px 0px;
}

.iti-flag.pa {
  height: 14px;
  background-position: -3899px 0px;
}

.iti-flag.pe {
  height: 14px;
  background-position: -3921px 0px;
}

.iti-flag.pf {
  height: 14px;
  background-position: -3943px 0px;
}

.iti-flag.pg {
  height: 15px;
  background-position: -3965px 0px;
}

.iti-flag.ph {
  height: 10px;
  background-position: -3987px 0px;
}

.iti-flag.pk {
  height: 14px;
  background-position: -4009px 0px;
}

.iti-flag.pl {
  height: 13px;
  background-position: -4031px 0px;
}

.iti-flag.pm {
  height: 14px;
  background-position: -4053px 0px;
}

.iti-flag.pn {
  height: 10px;
  background-position: -4075px 0px;
}

.iti-flag.pr {
  height: 14px;
  background-position: -4097px 0px;
}

.iti-flag.ps {
  height: 10px;
  background-position: -4119px 0px;
}

.iti-flag.pt {
  height: 14px;
  background-position: -4141px 0px;
}

.iti-flag.pw {
  height: 13px;
  background-position: -4163px 0px;
}

.iti-flag.py {
  height: 11px;
  background-position: -4185px 0px;
}

.iti-flag.qa {
  height: 8px;
  background-position: -4207px 0px;
}

.iti-flag.re {
  height: 14px;
  background-position: -4229px 0px;
}

.iti-flag.ro {
  height: 14px;
  background-position: -4251px 0px;
}

.iti-flag.rs {
  height: 14px;
  background-position: -4273px 0px;
}

.iti-flag.ru {
  height: 14px;
  background-position: -4295px 0px;
}

.iti-flag.rw {
  height: 14px;
  background-position: -4317px 0px;
}

.iti-flag.sa {
  height: 14px;
  background-position: -4339px 0px;
}

.iti-flag.sb {
  height: 10px;
  background-position: -4361px 0px;
}

.iti-flag.sc {
  height: 10px;
  background-position: -4383px 0px;
}

.iti-flag.sd {
  height: 10px;
  background-position: -4405px 0px;
}

.iti-flag.se {
  height: 13px;
  background-position: -4427px 0px;
}

.iti-flag.sg {
  height: 14px;
  background-position: -4449px 0px;
}

.iti-flag.sh {
  height: 10px;
  background-position: -4471px 0px;
}

.iti-flag.si {
  height: 10px;
  background-position: -4493px 0px;
}

.iti-flag.sj {
  height: 15px;
  background-position: -4515px 0px;
}

.iti-flag.sk {
  height: 14px;
  background-position: -4537px 0px;
}

.iti-flag.sl {
  height: 14px;
  background-position: -4559px 0px;
}

.iti-flag.sm {
  height: 15px;
  background-position: -4581px 0px;
}

.iti-flag.sn {
  height: 14px;
  background-position: -4603px 0px;
}

.iti-flag.so {
  height: 14px;
  background-position: -4625px 0px;
}

.iti-flag.sr {
  height: 14px;
  background-position: -4647px 0px;
}

.iti-flag.ss {
  height: 10px;
  background-position: -4669px 0px;
}

.iti-flag.st {
  height: 10px;
  background-position: -4691px 0px;
}

.iti-flag.sv {
  height: 12px;
  background-position: -4713px 0px;
}

.iti-flag.sx {
  height: 14px;
  background-position: -4735px 0px;
}

.iti-flag.sy {
  height: 14px;
  background-position: -4757px 0px;
}

.iti-flag.sz {
  height: 14px;
  background-position: -4779px 0px;
}

.iti-flag.ta {
  height: 10px;
  background-position: -4801px 0px;
}

.iti-flag.tc {
  height: 10px;
  background-position: -4823px 0px;
}

.iti-flag.td {
  height: 14px;
  background-position: -4845px 0px;
}

.iti-flag.tf {
  height: 14px;
  background-position: -4867px 0px;
}

.iti-flag.tg {
  height: 13px;
  background-position: -4889px 0px;
}

.iti-flag.th {
  height: 14px;
  background-position: -4911px 0px;
}

.iti-flag.tj {
  height: 10px;
  background-position: -4933px 0px;
}

.iti-flag.tk {
  height: 10px;
  background-position: -4955px 0px;
}

.iti-flag.tl {
  height: 10px;
  background-position: -4977px 0px;
}

.iti-flag.tm {
  height: 14px;
  background-position: -4999px 0px;
}

.iti-flag.tn {
  height: 14px;
  background-position: -5021px 0px;
}

.iti-flag.to {
  height: 10px;
  background-position: -5043px 0px;
}

.iti-flag.tr {
  height: 14px;
  background-position: -5065px 0px;
}

.iti-flag.tt {
  height: 12px;
  background-position: -5087px 0px;
}

.iti-flag.tv {
  height: 10px;
  background-position: -5109px 0px;
}

.iti-flag.tw {
  height: 14px;
  background-position: -5131px 0px;
}

.iti-flag.tz {
  height: 14px;
  background-position: -5153px 0px;
}

.iti-flag.ua {
  height: 14px;
  background-position: -5175px 0px;
}

.iti-flag.ug {
  height: 14px;
  background-position: -5197px 0px;
}

.iti-flag.um {
  height: 11px;
  background-position: -5219px 0px;
}

.iti-flag.us {
  height: 11px;
  background-position: -5241px 0px;
}

.iti-flag.uy {
  height: 14px;
  background-position: -5263px 0px;
}

.iti-flag.uz {
  height: 10px;
  background-position: -5285px 0px;
}

.iti-flag.va {
  height: 15px;
  background-position: -5307px 0px;
}

.iti-flag.vc {
  height: 14px;
  background-position: -5324px 0px;
}

.iti-flag.ve {
  height: 14px;
  background-position: -5346px 0px;
}

.iti-flag.vg {
  height: 10px;
  background-position: -5368px 0px;
}

.iti-flag.vi {
  height: 14px;
  background-position: -5390px 0px;
}

.iti-flag.vn {
  height: 14px;
  background-position: -5412px 0px;
}

.iti-flag.vu {
  height: 12px;
  background-position: -5434px 0px;
}

.iti-flag.wf {
  height: 14px;
  background-position: -5456px 0px;
}

.iti-flag.ws {
  height: 10px;
  background-position: -5478px 0px;
}

.iti-flag.xk {
  height: 15px;
  background-position: -5500px 0px;
}

.iti-flag.ye {
  height: 14px;
  background-position: -5522px 0px;
}

.iti-flag.yt {
  height: 14px;
  background-position: -5544px 0px;
}

.iti-flag.za {
  height: 14px;
  background-position: -5566px 0px;
}

.iti-flag.zm {
  height: 14px;
  background-position: -5588px 0px;
}

.iti-flag.zw {
  height: 10px;
  background-position: -5610px 0px;
}

.iti-flag {
  width: 20px;
  height: 15px;
  box-shadow: 0px 0px 1px 0px #888;
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/img/flags.png");
  background-repeat: no-repeat;
  background-color: #DBDBDB;
  background-position: 20px 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2 / 1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .iti-flag {
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/img/flags@2x.png");
  }
}

.iti-flag.np {
  background-color: transparent;
}




.hide {
  display: none;
}

pre {
  margin: 0 !important;
  display: inline-block;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  background: none;
}



::-webkit-input-placeholder {
  color: #AAAAAA;
  font-size: 14px;
}

::-moz-placeholder {
  /* Firefox 19+ */
   color: #AAAAAA;
  opacity: 1;
}
.transaction-btn-detail h2 {
    font-size: 24px;
    color: #242424;
    font-weight: bold;
    margin-bottom: 20px;
}

:-ms-input-placeholder {
   color: #AAAAAA;
}
li.save-section button {
    padding: 10px 31px !important;
    background: #10239e !important;
    color: #fff;
    border-radius: 5px;
    /* width: 20% !important; */
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-size: 1.25rem;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    width: 100%;
    margin-bottom: 0px;
}
/*.inputfile + label {
    display: none;
}*/
.proof-document .box {
    width: 100%;
    text-align: center;
    border: 1px dashed #ccc;
}

.proof-document label {
    /* margin: 0px; */
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

* style 1 */

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #d3394c;
}

/*.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #722040;
}*/
h5.pro-aset {
    font-size: 14px;
    font-weight: bold;
}
.sucessful-notification.text-center {
    padding: 10px 31px !important;
    background: #10239e !important;
    color: #fff;
    border-radius: 5px;
    width: 40%;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.business-activated {
    background: #000B52;
    width: 50%;
    margin: 0px auto;
    border-radius: 5px;
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    color: #fff;
}
.continues a {
    padding: 8px 40px;
    background: #10239E;
    border: none;
    color: #fff;
    border-radius: 5px;
}
button#sidebarCollapse {
    position: absolute;
    top: 0px;
    right: 0px;
}
.dashboard-content-bdy {
    padding-bottom: 50px;
}
.btn-info {
    color: #fff;
    background-color: #10239e;
    border-color: #10239e;
}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #10239e;
    border-color: #10239e;
}
.btn-info.focus, .btn-info:focus {
    color: #fff;
    background-color: #10239e;
    border-color: #10239e;
    box-shadow: 0 0 0 0.2rem rgb(58 176 195 / 50%);
}
.forgot-password {
    padding: 10px 0px;
}
.login-forms h2 {
    font-size: 24px;
    font-weight: bold;
    color: #10239E;
}
.register-link p {
    margin-bottom: 0px;
}

.register-link p a {
    font-weight: bold;
    color: #10239e;
}
.form-group.password i {
    position: absolute;
    top: 0px;
    top: 44px;
    right: 10px;
    cursor: pointer;
}

.form-group.password {
    position: relative;
}
.form-group.confirm-password i {
    position: absolute;
    top: 0px;
    top: 44px;
    right: 10px;
    cursor: pointer;
}

.form-group.confirm-password {
    position: relative;
}
input.cancel-form {
    border: none;
    text-align: center;
}
.sub-button button:hover {
    color: #fff;
}
.register-form-sec {
    width: 60%;
}
.register-form-sec  .form-group {
    padding:0px 5px;
}
.register-form-sec .d-flex .form-group {
    padding: 0px 5px;
}
.p-70
{
    padding: 70px 0px;
}
.p-80
{
    padding: 80px 0px;
}
.welcome-payvector {
    color: #6D6D6D;
}

.welcome-payvector h2 {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px;
}
a.blue-btn-link {
    padding: 10px 20px;
    background: #10239E;
    color: #fff;
    border-radius: 10px;
    display: inline-block;
    margin: 10px 0px;
}
.welcome-payvector
{
    width: 80%;
    margin: 0px auto;
}
.api-document
{
    padding: 30px 0px;
}

.api-document h2 {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px;
    color: #6D6D6D;
}
.welcome-payvector {
    padding-bottom: 30px;
}

.api-key ul {
    padding: 0px;
    /* margin: 0px; */
}

.api-key ul li {
    list-style-type: none;
    margin-bottom: 20px;
}

.api-key ul li button {
    padding: 10px 15px;
    border: 1px solid #10239e;
    background: #10239e;
    color: #fff;
    font-size: 12px;
}

.api-key ul li input {
    padding: 10px 20px;
    width: 50%;
    border: 1px solid #ccc;
    font-size: 12px;
}
.api-document p {
    color: #6D6D6D;
}
.gray-pg.readonly {
    background: #BFBFBF !important;
}
input.customs-input {
    background: transparent;
    border: none;
    color: #f00;
    font-size: 16px;
}
input.customs-input::-webkit-input-placeholder {color:#094063;font-size: 16px;}
input.customs-input::-moz-placeholder {color:#094063;font-size: 16px;}
input.customs-input::-ms-input-placeholder {color:#094063;font-size: 16px;}
.transection-history-detail ul {
    padding: 0px;
    margin: 0px;
}

.transection-history-detail ul li {
    list-style-type: none;
    border-right: 1px solid #B6B6B6;
    padding: 10px 5px;
    width: 20%;
}

.transection-history-detail {
    margin: 20px 0px;
    padding: 20px;
    box-shadow: 0px 10xp 10px rgba(51,51,51,0.3);
    box-shadow: 0px 0px 11px rgba(51,51,51,0.2);
}

.transection-history-detail ul li:last-child {
    border: none;
}
.transection-history-detail ul li strong {
    font-size: 31px;
    font-weight: bold;
    color: #10239E;
    text-shadow: 0px 0px;
}
.transection-history-detail ul li p {
    color: #364657;
    font-size: 14px;
    margin-bottom: 5px;
}
.transection-signle-integration-detail ul li {
    padding: 20px 20px;
    list-style-type: none;
    border-right: 1px solid #ccc;
}

.transection-signle-integration-detail {
    margin: 30px 0px;
    border: 1px solid #ccc;
}
.transection-signle-integration-detail ul li:last-child {
    border: none;
}
.transection-signle-integration-detail ul {
    margin: 0px;
}
li.text-left.rutti-store {
    width: 25%;
}

li.text-left.rutti-store h6 {
    font-weight: bold;
    color: #10239E;
    font-size: 23px;
    text-shadow: 0px 0px;
}

.transection-signle-integration-detail h3 {
    font-size: 36px;
    font-weight: bold;
}

li.text-left.rutti-store p {
    font-size: 10px;
}

li.text-left.rutti-store button {
    border: none;
    padding: 5px 30px;
    background: #407BFF;
    color: #fff;
    border-radius: 30px;
    font-size: 12px;
}
.integration-tab ul li a {
    border-bottom: 1px solid #e9ecee !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.integration-tab ul.nav {
    margin-bottom: 20px;
}

.integration-tab ul li a.active {
    color: #2F54EB !important;
}
.integration-details {
    padding: 20px;
    background: #F0F0F0;
}
.key-intruction-help a {
    color: #10239e;
}

.key-intruction-help {
    margin-top: 20px;
}
.makepayment.register-page {
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.intergration-page.setting-page {
    margin-top: 30px;
}
.profile-hed
{
    color: #10239E;
    margin-bottom: 30px;
}
.change-password a {
    font-weight: bold;
    color: #2F54EB;
}
.change-password {
    padding: 20px 0px;
}
.account-form {
    width: 50%;
    margin: 0px auto;
}

/* The container */
.member-type {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.member-type input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.member-type .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #f0f0f0;
    border-radius: 50%;
    border: 1px solid #757B8C;
}

/* On mouse-over, add a grey background color */
.member-type:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.member-type input:checked ~ .checkmark {
    background-color: #f0f0f0;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.member-type .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.member-type input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.member-type .checkmark:after {
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #10239E;
}
button.status-btn {
    padding: 2px 15px;
    border: none;
    border-radius: 20px;
    color: #00C48E;
}
#css-dropdown
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 300px;
    height: 42px;
    margin: 100px auto 0 auto;
}
.modal-body {
    background: #F0F0F0;
}
div#manage-role .choices__list--multiple .choices__item {
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 3.75px;
    margin-bottom: 3.75px;
    background-color: #030852;
    border: 1px solid #030852;
    color: #fff;
    word-break: break-all;
}
div#manage-role button.close {
    position: absolute;
    top: -55px;
    left: 46%;
    background: #fff;
    padding: 7px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
div#manage-role .modal-dialog {
    margin-top: 100px;
}



div#manage-role .modal-body {
    position: relative;
}
ul.list-unstyled.components li {
    margin: 20px 10px;
}